<%- include('../partials/header.ejs') %>

<!--Main Nav-->
<%- include('../partials/main_nav.ejs') %>

<!--Content for Add page-->
<br> <br> <br>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1 class="text-center">Edit Contact</h1>

        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField">Name: </label>
                <input type="text" class="form-control " id="nameTextField" placeholder="Enter Name" name="name" value="<%= book.name %>" required>
            </div>
           
            <div class="form-group">
                <label for="authorTextField">Phone Number: </label>
                <input type="text" class="form-control " id="authorTextField" placeholder="Enter Phone Number" name="phone" value="<%= book.phone %>" required>
            </div>
           
            <div class="form-group">
                <label for="publishedTextField">Email: </label>
                <input type="text" class="form-control " id="publishedTextField" placeholder="Enter Email" name="email" value="<%= book.email %>" required>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Submit </button>

            <a href="/book-list" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel </a>

        </form>
    </div>
    </div>
</div>

<!--Footer-->
<footer>
    <%- include('../partials/bottom_nav.ejs') %> 
</footer>
    
<!--Javascript Section-->
<%- include('../partials/scripts.ejs') %>