<%- include('../partials/header.ejs') %>

<!--Main Nav-->
<%- include('../partials/main_nav.ejs') %>
    
<!-- Main Content -->
<br> <br> <br>
    <main>
      <div class="row">
        <div class="col-md-offset-3 col-md-6"> 
            <h1 id="table_title">Contacts</h1>

            <% if (typeof displayName == 'string' && displayName) { %>
                <a href="/book-list/add" id="add_btn" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Contact </a>
            <% } %>
            <br> <br>
            <table id="contact_table" class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Phone Number</th>
                    <th class="text-center col-1">Email</th>
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                    <% } %>
                </tr>

                <!--Repeatable Template Row-->

                <% for (let count = 0; count < BookList.length; count ++) { %>
                    <tr>
                        <td class="text-center col-2"><%= BookList[count].name %> </td>
                        <td class="text-center col-2"><%= BookList[count].phone %> </td>
                        <td class="text-center col-1"><%= BookList[count].email %> </td>

                        <% if (typeof displayName == 'string' && displayName) { %>
                        <td class="text-center col-1">
                            <a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i> Edit </a>
                        </td>
                        <td class="text-center col-2">
                            <a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete </a>
                        </td>
                        <% } %>
                    </tr>

                <% } %>
            </table>
        </div>
      </div>
    </main>

<!--Footer-->
<footer>
<%- include('../partials/bottom_nav.ejs') %> 
</footer>

<!--Javascript Section-->
<%- include('../partials/scripts.ejs') %>